.planos {
  padding-top: 80px;

  .container-planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 3% 50px;
    gap: 80px;

    .content {
      max-width: 850px;
      width: 100%;
      display: flex;
      gap: 30px;

      .mensalidade,
      .daycare {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        p {
          font-size: 20px;
          font-weight: 400;
          text-align: justify;
        }

        span {
          font-size: 20px;
          font-weight: 500;
          color: var(--verde);
        }
      }
    }

    .saiba-mais {
      background-color: var(--verde);
      text-decoration: none;
      font-size: 28px;
      font-weight: 500;
      border-radius: 20px;
      padding: 5px 10px;
      color: var(--branco);
    }
  }
}

@media (max-width: 768px) {
  .planos {
    .container-planos {
      .content {
        max-width: 500px;
        flex-direction: column;

        span {
          text-align: center;
        }
      }
    }
  }
}
