.contato {
  padding-top: 80px;
  background-color: var(--verde-contato);

  .container-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 3% 50px;
    gap: 20px;

    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  a {
    .mapa {
      width: 100%;
    }
  }
}
