footer {
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .direitos,
    .capafla {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 0;

      span {
        display: inline-block;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: var(--branco);
      }
    }

    .direitos {
      background-color: var(--verde);
    }

    .capafla {
      background-color: var(--preto);
    }
  }
}
